$spotify-green: #1DB954;
$black: #000000;
$white: #ffffff;
$sans-serif: 'Roboto', sans-serif;
$bold: 500;

body {
    font-family: $sans-serif;
    background: $black;
}
#intro {
    
}
#sidebar {

}
